<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--调度任务的批次操作-->
    <bean id="batchRunFlow" class="com.liujun.schedule.application.taskflow.flow.batch.BatchRunFlow">
        <property name="batchFlow">
            <list>
                <!--初始化流程中所需的相关数据-->
                <ref bean="flowDataInit"/>
                <!--检查任务是否在执行中-->
                <ref bean="checkBatchRunnable"/>
                <!--获取批次下的所有信息，包括批次下的所有任务，任务的依赖关系，及类型-->
                <ref bean="getBatchAllData"/>
                <!--数据依赖环的检查-->
                <ref bean="taskCycleCheck"/>
                <!--构建内存容器中的数据-->
                <ref bean="builderContainerData"/>
                <!--添加任务日志-->
                <ref bean="addBatchRunLog"/>
                <!--调度任务提交线程池-->
                <ref bean="scheduleTaskSubmit"/>
            </list>
        </property>
    </bean>

    <!--具代的任务运行-->
    <bean id="taskRunFlow" class="com.liujun.schedule.application.taskflow.flow.task.ThreadTaskRunFlow">
        <property name="threadThreadFlow">
            <list>
                <!--检查顶点是否为结束顶点-->
                <ref bean="checkTaskFinish"/>
                <!--如果为结束顶点，将批次的状态改为完成,记录结束时间-->
                <ref bean="updBatchFinishSuccess"/>
                <!--修改任务的日志状态为成功-->
                <ref bean="updBatchLogStatusSuccess"/>
                <!--如果当前操作成功，移除掉内存中的数据-->
                <ref bean="batchFinishSuccessClean"/>
                <!--任务执行-->
                <ref bean="startTask"/>
                <!--如果当前任务执行失败，则对批次的日志状态进行修改-->
                <ref bean="updBatchLogStatusFinish"/>
                <!--失败任务检查清理操作-->
                <ref bean="taskStatusFailClean"/>
                <!--进行图相关数据的更新-->
                <ref bean="graphDataUpd"/>
            </list>
        </property>
    </bean>


    <!--任务的执行-->
    <bean id="doTaskFlow" class="com.liujun.schedule.application.taskflow.flow.runtask.DoTaskFlow">
        <property name="doTaskFlow">
            <list>
                <!--当前未结束，将任务状态改为运行中-->
                <ref bean="updScheduleTaskStateRunning"/>
                <!--具体任务的执行操作-->
                <ref bean="doTask"/>
                <!--当前如果任务执行失败，则对批次任务状态进行修改-->
                <ref bean="updScheduleTaskStatus"/>
            </list>
        </property>
    </bean>


</beans>