<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--批次任务信息表(dc_batch_task)数据库操作-->
<mapper namespace="com.liujun.schedule.infrastructure.repository.task.mapper.DcBatchTaskMapper">
    <resultMap type="com.liujun.schedule.infrastructure.repository.task.po.DcBatchTaskPO" id="dcBatchTaskResultMap">
        <!--批次的ID-->
        <id property="batchId" column="batch_id"/>
        <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
        <id property="taskId" column="task_id"/>
        <!--批次的ID-->
        <result property="batchId" column="batch_id"/>
        <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
        <result property="taskId" column="task_id"/>
    </resultMap>
    <!--批次任务信息表(dc_batch_task)单个添加-->
    <insert id="insert" parameterType="com.liujun.schedule.infrastructure.repository.task.po.DcBatchTaskPO">
        insert into dc_batch_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--批次的ID-->
            batch_id,
            <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
            task_id,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--批次的ID-->
            #{batchId,jdbcType=BIGINT},
            <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
            #{taskId,jdbcType=BIGINT},
        </trim>
    </insert>


    <!--批次任务信息表(dc_batch_task)批量添加-->
    <insert id="insertList" parameterType="com.liujun.schedule.infrastructure.repository.task.po.DcBatchTaskPO">
        insert into dc_batch_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--批次的ID-->
            batch_id,
            <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
            task_id,
        </trim>
        values
        <foreach collection="list" item="item" open="(" separator="),(" close=")" index="index">
            <!--批次的ID-->
            #{item.batchId,jdbcType=BIGINT},
            <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
            #{item.taskId,jdbcType=BIGINT}
        </foreach>
    </insert>


    <!--批次任务信息表(dc_batch_task)批量删除-->
    <delete id="deleteByIds" parameterType="com.liujun.schedule.infrastructure.repository.task.po.DcBatchTaskPO">
        delete from dc_batch_task
        <where>
            <!--批次的ID-->
            batch_id = #{batchId,jdbcType=BIGINT}
        </where>
    </delete>

    <!--批次任务信息表(dc_batch_task)分页查询-->
    <select id="getTaskListByBatchId"
            resultMap="dcBatchTaskResultMap">
        select
        batch_id,
        task_id
        from
        dc_batch_task
        <where>
            <!--批次的ID-->
            batch_id = #{batchId,jdbcType=BIGINT}
        </where>
    </select>

    <!--批次任务信息表(dc_batch_task)按id查询详细-->
    <select id="detail" parameterType="com.liujun.schedule.infrastructure.repository.task.po.DcBatchTaskPO"
            resultMap="dcBatchTaskResultMap">
        select
        batch_id,
        task_id
        from
        dc_batch_task
        <where>
            <!--批次的ID-->
            batch_id = #{batchId,jdbcType=BIGINT}
            <!--调度任务信息表(DC_TASK_INFO)中的任务的ID-->
            and task_id = #{taskId,jdbcType=BIGINT}
        </where>
    </select>

</mapper>